# Dependency directories
node_modules/

# Local uploads
uploads/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
.history/
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
